@import "tailwindcss";
@import "./styles/fonts.css";

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}
