.page-tab__spacer {
    position: relative;
    transition: padding 100ms ease-in-out;
}

.page-tab__spacer::after {
    position: absolute;
    top: calc(50% - 0.75px);
    left: 0;
    content: '';
    height: 1.5px;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/dashes.png');
    background-repeat: repeat-x;
}

.page-tab__spacer button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #e1e1e1;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: opacity 100ms ease-in-out;
}

.page-tab__spacer button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    height: 8px;
    width: 8px;
    background-image: url('../images/add-small.svg');
    background-repeat: no-repeat;
}