.page-tab__add-new-btn__container {
    position: relative;
}

.page-tab__add-new-btn__container::before {
    position: absolute;
    top: calc(50% - 0.75px);
    left: 0;
    content: '';
    height: 1.5px;
    width: 20px;
    overflow: hidden;
    background-image: url('../images/dashes.png');
    background-repeat: repeat-x;
}

.page-tab__add-new-btn {
    box-shadow: 0px 1px 3px 0px #0000000A, 0px 1px 1px 0px #00000005;
}

.page-tab__add-new-btn img {
    display: inline-block;
    margin-right: 8px;
}

.page-tab__add-new-btn span {
    flex-shrink: 0;
}
